 table th, td{
   border: 1px solid green;
   text-align:left;
}
th,td{
 padding:8px;
 
}
table{
 border-collapse:collapse;
 width:50%;
}
table td a{
 background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
 
}
th{
 padding:15px;
 background:lightgreen;
 font-size:20px;
 font-weight:bold;
}